<p>
  {% trans %}Here are the activation links for your order {{ order_id }}{% endtrans %}
</p>
<ul>
  {% for url in urls %}
    <li>
      <strong>{{ url.title }}</strong>: <a href="{{ url.url }}">{{ url.url }}</a>
    </li>
  {% endfor %}
</ul>
